h2{ 
    text-align: center;
} 

nav{ 
    font color="#FBF8F3" 

    size="3" face="Arial, 
            Helvetica, 
            sans-serif"   

    
} 

 body {
            margin: 0;
            font-family: Georgia, 'Times New Roman', serif;
            color: #2A2118;
            background-color: #FBF8F3;
            line-height: 1.7;
        }